<template>
  <div class="container">
    <h3 class="form__caption">Login</h3>
    <v-form ref="form" v-model="valid" @submit.prevent="handleSubmit" lazy-validation>
      <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        type="email"
        required
      ></v-text-field>

      <v-text-field
        v-model="password"
        label="Password"
        required
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        @click:append="showPassword = !showPassword"
        :rules="passwordRules"
      ></v-text-field>

      <v-btn large type="submit" :disabled="!valid" block color="secondary" class="mr-4"
        >Sign in</v-btn
      >
    </v-form>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
  data: () => ({
    email: '',
    password: '',
    valid: true,
    showPassword: false,
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    passwordRules: [
      v => !!v || 'Name is required',
      v => (v && v.length >= 6) || 'Password must be at less 8 characters',
    ],
  }),
  computed: mapState({
    loginErrorMessage: state => state.auth.loginErrorMessage,
  }),
  methods: {
    ...mapActions(['login']),
    validate() {
      this.$refs.form.validate();
    },
    async handleSubmit() {
      this.validate();

      if (this.valid) {
        const { email, password } = this;
        try {
          await this.login({ email, password });
        } catch (err) {
          this.$notify({
            group: 'notify',
            type: 'error',
            title: 'Email/password pair is not valid',
          });
        }
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.form__caption {
  text-align: center;
  font-size: 1.6rem;
  color: #398ffc;
  margin-bottom: 1rem;
  font-weight: 500;
}

.v-input {
  margin-bottom: 0.7rem !important;
}

.v-messages.error--text {
  color: #e91e63;
  font-weight: bold;
}
</style>
