<template>
  <v-sheet class="mx-auto card__form">
    <v-row class="mb-6" justify="center" no-gutters>
      <v-col>
        <card-add-form
          title="Create new post"
          :onSubmit="handleSubmit"
          @onformchange="handleFormChange"
        ></card-add-form>
      </v-col>
    </v-row>
  </v-sheet>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapActions, mapGetters } from 'vuex';

import Spinner from '@/components/Spinner';
import CardAddForm from '@/views/dashboard/components/CardAddForm';

@Component({
  components: {
    CardAddForm,
    Spinner,
  },
  computed: {
    ...mapGetters(['isFetching']),
  },
  methods: {
    ...mapActions(['createPost']),
  },
})
class CardAddPage extends Vue {
  card = {};

  async handleSubmit(data) {
    await this.createPost(data);
    await this.$notify({
      group: 'notify',
      type: 'success',
      title: 'Post was successfully created',
    });
  }

  handleFormChange(values) {
    this.card = values;
  }
}
export default CardAddPage;
</script>
