<template>
  <v-list rounded class="categories__list">
    <v-subheader>Categories - {{ getCategories.totalElements }}</v-subheader>
    <v-row align="center" justify="center">
      <v-col cols="10">
        <v-form @submit.prevent="addCategory">
          <v-row align="center" justify="center">
            <v-col cols="8">
              <v-text-field v-model="name" label="Category Name"></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-btn outlined type="submit" color="indigo" class="submit__btn" :loading="isFetching"
                >Add category</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>

    <v-row align="center" justify="center" v-if="getCategories.content.length">
      <v-col cols="10">
        <v-chip
          v-for="{ name, _id } in getCategories.content"
          :key="_id"
          class="ma-2"
          close
          label
          outlined
          @click:close="deleteSelectedCategory(_id)"
          >{{ name }}</v-chip
        >
      </v-col>
    </v-row>
  </v-list>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapActions, mapGetters } from 'vuex';

import Spinner from '@/components/Spinner';

@Component({
  data() {
    return {
      name: '',
    };
  },
  methods: {
    ...mapActions(['fetchCategories', 'createCategory', 'updateCategory', 'deleteCategory']),
  },
  computed: {
    ...mapGetters(['getCategories', 'isFetching']),
  },
  components: {
    Spinner,
  },
})
class DashboardMailsListPage extends Vue {
  async mounted() {
    await this.fetchCategories();
  }

  async deleteSelectedCategory(id) {
    await this.deleteCategory(id);
    this.$notify({
      group: 'notify',
      type: 'success',
      title: 'Category was deleted!',
    });
  }

  async addCategory() {
    if (this.name.trim().length) {
      try {
        await this.createCategory({ name: this.name }).then(() => (this.name = ''));
      } catch (err) {
        this.$notify({
          group: 'notify',
          type: 'error',
          title: 'Dublicated category name',
        });
      }
    }
  }
}

export default DashboardMailsListPage;
</script>

<style lang="scss">
.submit__btn {
  float: right;
}

.categories__list {
  margin: 0 auto;
  max-width: 600px !important;
}
</style>
