<template>
  <v-sheet elevation="8" class="mx-auto card__form">
    <v-form @submit.prevent="submit" ref="form" v-model="valid" lazy-validation>
      <h3 class="caption-title">Contacts</h3>
      <v-subheader>General</v-subheader>
      <v-row justify="space-around">
        <v-col cols="6">
          <v-text-field
            v-model="email"
            label="Email"
            type="email"
            required
            dense
            outlined
            :rules="required"
          ></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-text-field
            v-model="mobile"
            type="phone"
            required
            dense
            :rules="required"
            outlined
            label="Phone number"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row justify="space-around">
        <v-col cols="12">
          <v-text-field
            v-model="address"
            :rules="required"
            outlined
            required
            dense
            label="Location"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-divider />

      <v-subheader>Social links</v-subheader>

      <template v-if="links.length">
        <div v-for="(link, index) in links" :key="`${link.title}/${index}`">
          <v-row justify="space-around">
            <v-col cols="6">
              <v-text-field v-model="link.link" label="Link" type="text" dense outlined></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="link.title" type="text" dense outlined label="Toolbar Title"></v-text-field>
            </v-col>
          </v-row>
          <v-row justify="space-around">
            <v-col cols="6">
              <v-text-field
                v-model="link.icon"
                label="Font awasome icon"
                type="text"
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="6" class="preview__icon">
              <span>Preview</span>
              <i class="fa fa-2x" :class="`fa-${link.icon}`"></i>
            </v-col>
            <v-btn class="ma-2" color="primary" @click="removeLink(index)" text dark>
              Remove
              <v-icon dark right>mdi-delete</v-icon>
            </v-btn>
          </v-row>
          <v-divider />
        </div>
      </template>

      <v-row justify="center">
        <v-col cols="4">
          <v-btn class="ma-2" block color="primary" @click="addNewLink" text dark>
            Add new link
            <v-icon dark right>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>

      <v-btn type="submit" color="primary" block :disabled="!valid">Save</v-btn>
    </v-form>
  </v-sheet>
</template>
<script>
import Vue from 'vue';
import axios from 'axios';
import Component from 'vue-class-component';
import { mapGetters, mapActions } from 'vuex';

@Component({
  name: 'Contacts',
  methods: {
    ...mapActions(['fetchCategories']),
  },
  data() {
    return {
      valid: false,
      mobile: '',
      address: '',
      links: [],
      email: '',
      required: [v => !!v || 'Field is required'],
    };
  },
  computed: {
    ...mapGetters(['contacts']),
  },
})
class Contacts extends Vue {
  async mounted() {
    await this.fetchContacts();
  }

  async fetchContacts() {
    try {
      const { data } = await axios.get('/contacts');

      this.email = data.email;
      this.links = data.links;
      this.mobile = data.mobile;
      this.address = data.address;
    } catch (err) {
      throw new Error(err);
    }
  }

  addNewLink() {
    const links = [...this.links];
    const emptyLink = {
      link: '',
      icon: '',
      title: '',
    };

    links.push(emptyLink);
    this.links = links;
  }

  removeLink(index) {
    const links = [...this.links];
    links.splice(index, 1);
    this.links = links;
  }

  validate() {
    this.$refs.form.validate();
  }

  async createContacts(data) {
    try {
      await axios.post('/contacts', data);
      this.$notify({
        group: 'notify',
        type: 'success',
        title: 'Contact was updated successfully!',
      });
    } catch (err) {
      throw new Error(err);
    }
  }

  async submit() {
    this.validate();
    const { mobile, email, address, links } = this;

    if (this.valid && mobile.trim().length && email && address) {
      await this.createContacts({
        mobile,
        email,
        address,
        links,
      });
    }
  }
}

export default Contacts;
</script>
<style lang="scss">
.caption-title {
  text-align: center;
  margin-bottom: 1rem;
}
.preview__icon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & > span {
    margin-top: 8px;
  }
}
</style>
