<template>
  <div>
    <v-sheet elevation="18" class="mx-auto cards__box">
      <v-subheader>Total Post - {{ getPosts.totalElements }}</v-subheader>

      <template v-if="getPosts.content.length">
        <ul class="card__list">
          <v-row no-gutters>
            <v-col v-for="post in getPosts.content" :key="post._id" cols="12" sm="4">
              <card
                :id="post._id"
                :title="post.title"
                :src="post.image && post.image.src"
                :description="post.description"
                :onPostDelete="deletePost"
                :onPostEdit="editPost"
              ></card>
            </v-col>
          </v-row>
        </ul>
      </template>
      <p v-else>no posts</p>
      <spinner :show="isFetching"></spinner>
    </v-sheet>
  </div>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapActions, mapGetters, mapMutations } from 'vuex';

import Spinner from '@/components/Spinner';
import Card from '@/components/Card';

import { modalTypes } from '@/constants';

@Component({
  components: {
    Card,
    Spinner,
  },
  computed: {
    ...mapGetters(['getPosts', 'isFetching']),
  },
  methods: {
    ...mapActions(['fetchPosts']),
    ...mapMutations(['showModal']),
  },
})
class DashboardPostListPage extends Vue {
  async mounted() {
    await this.fetchPosts();
  }

  getPostById(id) {
    return this.getPosts.content.find(post => post._id === id);
  }

  deletePost(postId) {
    this.showModal({
      modalType: modalTypes.DELETE_POST_MODAL,
      modalProps: { postId },
    });
  }

  editPost(postId) {
    this.showModal({
      modalType: modalTypes.EDIT_POST_MODAL,
      modalProps: { card: this.getPostById(postId) },
    });
  }
}

export default DashboardPostListPage;
</script>
<style scoped>
.cards__box {
  min-height: calc(100vh - (64px + 100px)) !important;
  padding: 1rem 2rem !important;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
</style>
