<template>
  <div v-if="isLogginIn">
    <toolbar></toolbar>
    <sidebar :open="drawer">
      <dashboard-menu :menuItems="menuItems"></dashboard-menu>
    </sidebar>
    <v-content class="main-content">
      <v-container fluid fill-height class="pa-5">
        <v-layout justify-center align-center>
          <v-flex text-xs-center class="inner-container">
            <router-view></router-view>
            <app-footer></app-footer>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapActions } from 'vuex';

import Sidebar from '@/components/Sidebar';
import AppFooter from '@/components/Footer';
import Toolbar from '@/components/Toolbar';
import DashboardMenu from '@/views/dashboard/components/DashboardMenu';

import { hasToken } from '@/utils';
import {
  mdiAssistant,
  mdiViewDashboard,
  mdiEmail,
  mdiCheckBoxOutline,
  mdiPdfBox,
  mdiContacts,
} from '@mdi/js';

@Component({
  data() {
    return {
      isLogginIn: hasToken(),
    };
  },
  components: {
    AppFooter,
    Toolbar,
    Sidebar,
    DashboardMenu,
  },
  methods: {
    ...mapActions(['fetchCategories']),
  },
})
class Dashboard extends Vue {
  drawer = true;
  menuItems = [
    {
      icon: mdiViewDashboard,
      title: 'Dashboard',
      path: 'posts',
    },
    {
      icon: mdiAssistant,
      title: 'Add New Post',
      path: 'add-post',
    },
    {
      icon: mdiEmail,
      title: 'Mails',
      path: 'mails',
    },
    {
      icon: mdiCheckBoxOutline,
      title: 'Categories',
      path: 'categories',
    },
    {
      icon: mdiPdfBox,
      title: 'Pdf',
      path: 'pdf',
    },
    {
      icon: mdiContacts,
      title: 'Contacts',
      path: 'contacts',
    },
  ];

  beforeMount() {
    this.$store.commit('checkAuth');
  }

  beforeUpdate() {
    if (!this.isLogginIn) {
      this.$router.history.push('/login');
    }
  }

  async mounted() {
    await this.fetchCategories();

    const { history, currentRoute } = this.$router;
    if (history && currentRoute.path === '/dashboard') {
      history.push('/dashboard/add-post');
    }
  }
}

export default Dashboard;
</script>
<style lang="scss">
.main-content {
  min-height: 100vh;

  & > div {
    background: url(https://picsum.photos/1920/1080?random) no-repeat center fixed;
    background-size: cover;

    & > .layout {
      background: #fff;
    }
  }
}
</style>
