<template>
  <v-sheet elevation="8" class="mx-auto card__form">
    <v-subheader>Total Mail - {{ getMails.totalElements }}</v-subheader>

    <v-simple-table fixed-header height="300px">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">From</th>
            <th class="text-left">Message</th>
            <th class="text-left">Date</th>
          </tr>
        </thead>
        <tbody v-if="getMails.totalElements">
          <tr hoverable v-for="item in getMails.content" :key="item._id">
            <td>{{ item.from }}</td>
            <td>{{ item.message }}</td>
            <td>{{ formatDate(item.date) }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-sheet>
</template>
<script>
import Vue from 'vue';
import dayjs from 'dayjs';
import Component from 'vue-class-component';
import { mapActions, mapGetters } from 'vuex';

import Spinner from '@/components/Spinner';

@Component({
  methods: {
    ...mapActions(['fetchMails']),
  },
  computed: {
    ...mapGetters(['getMails', 'isFetching']),
  },
  components: {
    Spinner,
  },
})
class DashboardMailsListPage extends Vue {
  async mounted() {
    await this.fetchMails();
  }

  formatDate(value) {
    return dayjs(value).format('MMM D, YYYY');
  }
}

export default DashboardMailsListPage;
</script>
