<template>
  <v-sheet elevation="8" class="mx-auto card__form">
    <v-row align="center" justify="center">
      <v-col>
        <h3>CV Setting</h3>
      </v-col>
      <v-col class="pdf__tabs">
        <v-btn-toggle mandatory borderless>
          <v-btn block @click="activeStep = 'PREVIEW'">
            Preview
          </v-btn>
          <v-btn block @click="activeStep = 'EDIT'">
            Setting
          </v-btn>
        </v-btn-toggle>
      </v-col>
    </v-row>

    <v-form
      v-if="activeStep === 'EDIT'"
      ref="form"
      v-model="valid"
      @submit.prevent="handleSubmit"
      lazy-validation
    >
      <v-row no-gutters>
        <v-col cols="8">
          <v-text-field :rules="required" v-model="url" required label="Pdf Link"></v-text-field>
        </v-col>
        <v-col>
          <v-switch v-model="showCvLink" label="Show link on site"></v-switch>
        </v-col>
      </v-row>
      <v-row align="center" justify="center" class="ma-4">
        <v-btn text outlined color="indigo" type="submit" :disabled="!valid">Save setting</v-btn>
      </v-row>
    </v-form>

    <template v-if="activeStep === 'PREVIEW'">
      <vue-pdf-viewer height="500px" :url="url" v-if="url"></vue-pdf-viewer>
      <v-row align="center" v-else justify="center" class="ma-4">
        No currently uploaded pdf link
      </v-row>
    </template>
  </v-sheet>
</template>
<script>
import axios from 'axios';
import VuePDFViewer from 'vue-instant-pdf-viewer';

export default {
  data() {
    return {
      url: '',
      pdfId: 0,
      valid: false,
      created: true,
      activeStep: 'PREVIEW',
      showCvLink: true,
      required: [v => !!v || 'Link is required'],
    };
  },
  async mounted() {
    try {
      if (!this.url) {
        const { data } = await axios.get('/pdf');
        this.url = data.link;
        this.pdfId = data._id;
        this.created = !!data.link;
        this.showCvLink = data.showCvLink;
      }
    } catch (err) {
      this.$notify({
        group: 'notify',
        type: 'error',
        title: 'Cannot fecth link for pdf',
      });
    }
  },
  name: 'PdfPage',
  components: {
    'vue-pdf-viewer': VuePDFViewer,
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },

    async handleSubmit() {
      this.validate();

      if (this.valid) {
        const { showCvLink, url } = this;
        try {
          this.created
            ? axios.put(`/pdf/${this.pdfId}`, { showCvLink, link: url })
            : axios.post('/pdf', { showCvLink, link: url });
          await this.$notify({
            group: 'notify',
            type: 'success',
            title: 'Pdf link was successfully updated',
          });
        } catch (err) {
          this.$notify({
            group: 'notify',
            type: 'error',
            title: 'Cannot send link for pdf',
          });
        }
      }
    },
  },
};
</script>
<style>
.pdf__tabs {
  margin-right: 6rem !important;
}
</style>
