<template>
  <div class="login-page">
    <v-sheet elevation="18" class="mx-auto" height="350" width="400">
      <login-form></login-form>
    </v-sheet>
    <spinner :show="isFormSubmit" />
  </div>
</template>
<script>
import { mapState } from 'vuex';

import { getToken } from '@/utils';

import Spinner from '@/components/Spinner';
import LoginForm from '@/views/auth/components/LoginForm';

export default {
  name: 'LoginPage',
  computed: mapState({
    isFormSubmit: state => state.auth.isFormSubmit,
  }),

  created() {
    const token = getToken();
    if (token) {
      this.$router.push('/dashboard');
    }
  },
  components: {
    LoginForm,
    Spinner,
  },
};
</script>
<style lang="scss">
.login-page {
  height: 100vh;
  width: 100vw;
  background: #ffafbd;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .v-sheet .container {
    padding: 2rem 3rem !important;
  }
}
</style>
