<template>
  <v-dialog persistent v-model="open" @input="v => v || onHide()" max-width="300">
    <v-card>
      <v-card-title class="headline title">Delete this post?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="indigo darken-1" text @click="onHide">Cancel</v-btn>
        <v-btn color="purple darken-1" text @click="handleDeletePost">Delete</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapActions } from 'vuex';

export default {
  props: {
    open: Boolean,
    modalProps: Object,
    onHide: Function,
  },
  methods: {
    ...mapActions(['deletePost']),
    async handleDeletePost() {
      await this.deletePost(this.modalProps.postId);
      this.$notify({
        group: 'notify',
        type: 'success',
        title: 'Post was successfully removed',
      });
    },
  },
};
</script>

<style>
.title {
  justify-content: center;
}
</style>
