<template>
  <v-dialog
    v-model="open"
    persistent
    max-width="800"
    class="edit-modal-container"
    @input="v => v || onHide()"
  >
    <v-sheet elevation="8" class="mx-auto card__form">
      <card-add-form
        title="Edit post"
        :onSubmit="handleUpdatePost"
        :showSubmitButton="false"
        :defaultCard="modalProps && modalProps.card"
      ></card-add-form>
      <v-card-actions>
        <v-spacer />
        <v-btn color="indigo" text @click="onHide">Cancel</v-btn>
        <v-btn color="purple" text @click="handleUpdatePost">Update</v-btn>
      </v-card-actions>
    </v-sheet>
    <spinner :show="isFetching" />
  </v-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

import Spinner from '@/components/Spinner';
import CardAddForm from '@/views/dashboard/components/CardAddForm';

export default {
  props: {
    open: Boolean,
    modalProps: Object,
    onHide: Function,
  },
  components: {
    CardAddForm,
    Spinner,
  },
  computed: {
    ...mapGetters(['isFetching']),
  },
  methods: {
    ...mapActions(['updatePost']),
    async handleUpdatePost() {
      const { card } = this.modalProps;
      await this.updatePost({
        postId: card._id,
        card,
      });
      this.$notify({
        group: 'notify',
        type: 'success',
        title: 'Post was successfully updated',
      });
    },
  },
};
</script>
<style lang="scss">
.card__form {
  max-width: 800px;
  min-height: calc(100vh - (64px + 67px)) !important;
  padding: 2rem 3rem 1rem;
}
</style>
