<template>
  <v-dialog v-model="open" max-width="300" @input="v => v || onHide()">
    <v-card>
      <v-card-title class="headline">Are you sure?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="purple" text @click="onHide">
          No
        </v-btn>
        <v-btn color="indigo" text @click="logout">
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { signOut } from '@/utils';

export default {
  props: {
    open: Boolean,
    onHide: Function,
  },
  methods: {
    logout() {
      signOut(() => {
        this.$router.push('/');
        this.$store.commit('hideModal');
      });
    },
  },
};
</script>
