<template>
  <v-form @submit.prevent="submit" ref="form" v-model="valid" lazy-validation>
    <h3 class="caption-title">{{ title }}</h3>
    <v-subheader>General</v-subheader>
    <v-row justify="space-around">
      <v-col cols="6">
        <v-text-field
          v-model="card.title"
          label="Title"
          type="text"
          required
          outlined
          :rules="required"
        ></v-text-field>
      </v-col>
      <v-col cols="6">
        <v-text-field v-model="card.link" outlined label="Project Link"></v-text-field>
      </v-col>
    </v-row>

    <v-row justify="space-around">
      <v-col cols="12">
        <v-textarea
          label="Body"
          required
          outlined
          v-model="card.description"
          no-resize
          :rules="required"
        ></v-textarea>
      </v-col>
    </v-row>

    <v-row justify="space-around">
      <v-col cols="12">
        <datepicker
          placeholder="Select Date"
          format="dd MMM yyyy"
          v-model="card.workinDate"
        ></datepicker>
      </v-col>
    </v-row>

    <v-divider />

    <v-subheader>Images</v-subheader>
    <v-row justify="space-around">
      <v-col cols="6">
        <v-text-field
          v-model="card.image.src"
          outlined
          label="Image Link"
          :rules="required"
          required
        ></v-text-field>
      </v-col>
      <v-col cols="6">
        <v-text-field
          v-model="card.image.alternate_text"
          label="Alternate Text"
          outlined
        ></v-text-field>
      </v-col>
    </v-row>

    <v-divider />

    <v-subheader>Settings</v-subheader>

    <v-select
      :items="PROJECT_TYPES"
      v-model="card.type"
      outlined
      :rules="required"
      label="Type"
      required
    ></v-select>
    <v-combobox
      v-model="card.technologies"
      :items="technologies"
      label="Technology"
      multiple
      outlined
      chips
      required
    ></v-combobox>

    <v-divider />

    <v-subheader>Visibility</v-subheader>

    <v-row justify="space-around">
      <v-col cols="6">
        <v-switch v-model="card.shared" class="ma-2" label="Share"></v-switch>
      </v-col>
      <v-col cols="6">
        <v-switch v-model="card.visible" class="ma-2" label="Visible"></v-switch>
      </v-col>
    </v-row>

    <template v-if="showSubmitButton">
      <v-row class="mb-6" justify="end" no-gutters>
        <v-btn @click="clear" text color="purple">Cancel</v-btn>
        <v-btn type="submit" text color="indigo" :disabled="!valid">Add</v-btn>
      </v-row>
    </template>
  </v-form>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapGetters, mapActions } from 'vuex';
import Datepicker from 'vuejs-datepicker';

import { PROJECT_TYPES } from '@/constants';

@Component({
  name: 'CardAddForm',
  props: {
    onSubmit: {
      type: Function,
      required: true,
    },
    title: String,
    showSubmitButton: {
      type: Boolean,
      default: true,
    },
    defaultCard: {
      type: Object,
      required: false,
      default: () => ({
        technologies: [],
        type: 'DEVELOPMENT',
        title: '',
        description: '',
        shared: true,
        visible: true,
        link: '',
        workinDate: new Date(),
        image: {
          alternate_text: '',
          src: 'https://hlfppt.org/wp-content/uploads/2017/04/placeholder.png',
        },
      }),
    },
  },
  components: {
    Datepicker,
  },
  methods: {
    ...mapActions(['fetchCategories']),
  },
  data() {
    return {
      PROJECT_TYPES,
      valid: false,
      defaultValue: {
        technologies: [],
        type: 'DEVELOPMENT',
        title: '',
        description: '',
        shared: true,
        visible: true,
        link: '',
        workinDate: new Date(),
        image: {
          alternate_text: '',
          src: 'https://hlfppt.org/wp-content/uploads/2017/04/placeholder.png',
        },
      },
      card: { ...this.defaultCard },
      required: [v => !!v || 'Field is required'],
    };
  },
  watch: {
    defaultCard(oldVal) {
      if (Object.keys(oldVal).length) {
        this.card = oldVal;
      } else {
        this.card = this.defaultValue;
      }
    },
  },
  computed: {
    ...mapGetters(['getCategories', 'technologies']),
    getData() {
      const {
        title,
        link,
        type,
        description,
        technologies,
        image,
        shared,
        visible,
        workinDate,
      } = this.card;

      return {
        title,
        description,
        type,
        link,
        image,
        shared,
        visible,
        technologies,
        workinDate,
      };
    },
  },
})
class CardAddForm extends Vue {
  async mounted() {
    await this.fetchCategories();
    this.card = this.getData;
  }

  validate() {
    this.$refs.form.validate();
  }
  async submit() {
    this.validate();
    const { title, description, technologies } = this.card;

    if (this.valid && title.trim().length && description && technologies.length) {
      await this.onSubmit(this.getData).then(() => this.clear());
    }
  }
  clear() {
    this.$refs.form.reset();
  }
}

export default CardAddForm;
</script>
<style lang="scss">
.caption-title {
  text-align: center;
  margin-bottom: 1rem;
}
</style>
