<template>
  <v-list flat>
    <v-subheader>ADMIN</v-subheader>
    <v-list-item-group v-model="item">
      <v-list-item
        v-for="{ path, title, icon } in menuItems"
        @click="navigateToRoute(path)"
        :key="path"
      >
        <v-list-item-icon>
          <v-icon>{{ icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>
<script>
export default {
  name: 'DashboardMenu',
  props: {
    menuItems: Array,
  },
  data() {
    return {
      item: 1,
    };
  },
  methods: {
    navigateToRoute(path) {
      const { history, currentRoute } = this.$router;
      if (history && !currentRoute.path.includes(path)) {
        this.$router.push(path);
      }
    },
  },
};
</script>
<style lang="scss">
.v-list-item--active {
  background: rgba(255, 255, 255, 0.2) !important;
}
</style>
