<template>
  <div class="global-modal-container">
    <delete-post-modal
      :open="computeModalType === modalTypes.DELETE_POST_MODAL"
      :onHide="hideModal"
      :modalProps="modalProps"
    ></delete-post-modal>
    <edit-post-modal
      :open="computeModalType === modalTypes.EDIT_POST_MODAL"
      :onHide="hideModal"
      :modalProps="modalProps"
    ></edit-post-modal>
    <logout-modal
      :open="computeModalType === modalTypes.LOGOUT_MODAL"
      :onHide="hideModal"
      :modalProps="modalProps"
    ></logout-modal>
  </div>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';

import LogoutModal from '@/views/ui/components/LogoutModal';
import EditPostModal from '@/views/ui/components/EditPostModal';
import DeletePostModal from '@/views/ui/components/DeletePostModal';

import { modalTypes } from '@/constants';

@Component({
  data: () => ({ modalTypes }),
  components: {
    DeletePostModal,
    EditPostModal,
    LogoutModal,
  },
  computed: {
    computeModalType() {
      return modalTypes[this.$store.state.ui.modalType];
    },
    modalProps() {
      return this.$store.state.ui.modalProps;
    },
  },
})
class GlobalModalContainer extends Vue {
  hideModal() {
    this.$store.commit('hideModal');
  }
}

export default GlobalModalContainer;
</script>
<style>
.global-modal-container .v-card,
.global-modal-container .v-dialog {
  background: #fff !important;
}
</style>
