<template>
  <div v-if="!src">
    <v-skeleton-loader
      class="mx-auto"
      max-width="300"
      type="card"
      height="400px"
    ></v-skeleton-loader>
  </div>
  <v-card v-else class="mx-auto card__item" max-width="300">
    <v-img :src="src" height="200px"></v-img>

    <v-card-title>{{ title }}</v-card-title>

    <v-card-text>{{ description }}</v-card-text>
    <v-card-actions v-if="showActionButtons">
      <v-btn color="indigo" text @click.native="onPostEdit(id)">Edit</v-btn>
      <v-btn color="purple" text @click="onPostDelete(id)">Delete</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: 'Card',
  props: {
    id: String,
    title: {
      type: String,
      required: false,
      default: 'Title',
    },
    src: {
      type: String,
      required: false,
      default: 'https://hlfppt.org/wp-content/uploads/2017/04/placeholder.png',
    },
    description: {
      type: String,
      required: false,
      default: 'Text here',
    },
    onPostDelete: {
      type: Function,
      default: () => {},
    },
    onPostEdit: {
      type: Function,
      default: () => {},
    },
    showActionButtons: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
<style>
.card__item {
  margin-bottom: 1.5rem !important;
}
</style>
