<template>
  <v-footer app class="footer">
    <small><b>© 2018</b> All rights reserved.</small>
  </v-footer>
</template>
<script>
export default {
  name: 'Footer',
};
</script>
<style>
.footer {
  background: #242830 !important;
  color: #fff !important;
  display: flex;
  padding: 1.5rem !important;
  justify-content: center;
}
</style>
