<template>
  <v-navigation-drawer class="custom__toolbar" v-model="open" dark permanent absolute app fixed>
    <slot></slot>

    <v-spacer />
    <template v-slot:append>
      <div class="pa-2">
        <v-btn block @click="showLogoutDialog">Logout</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>
<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapMutations } from 'vuex';

import { modalTypes } from '@/constants';

@Component({
  name: 'Sidebar',
  props: {
    className: String,
    open: Boolean,
  },
  methods: {
    ...mapMutations(['showModal']),
  },
})
class Sidebar extends Vue {
  showLogoutDialog() {
    this.showModal({
      modalType: modalTypes.LOGOUT_MODAL,
      modalProps: {},
    });
  }
}
export default Sidebar;
</script>
<style>
.custom__toolbar {
  position: fixed !important;
  height: calc(100vh - 67px) !important;
}
</style>
