<template>
  <div v-if="show" class="spinner-container">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
</template>
<script>
export default {
  name: 'Spinner',
  props: {
    show: {
      type: Boolean,
      default: () => false,
    },
  },
};
</script>
<style>
.spinner-container {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
</style>
