<template>
  <v-app-bar class="custom__toolbar-app" dark>
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-toolbar-title>Air Code Dashboard</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-avatar color="indigo" size="48">
      <v-icon dark>{{ mdiAccountCircle }}</v-icon>
    </v-avatar>
  </v-app-bar>
</template>
<script>
import { mdiAccountCircle } from '@mdi/js';

export default {
  name: 'Toolbar',
  data: () => ({ mdiAccountCircle }),
};
</script>
<style lang="scss">
.custom__toolbar-app {
  margin-left: 250px !important;
}
</style>
