<template>
  <v-app>
    <router-view></router-view>
    <global-modal-container />
    <notifications group="notify" />
  </v-app>
</template>
<script>
import GlobalModalContainer from '@/views/ui/containers/GlobalModalContainer';

export default {
  components: {
    GlobalModalContainer,
  },
};
</script>
<style lang="scss">
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Georgia, sans-serif;
}

.v-application a {
  background: transparent !important;
}
</style>
